# Node.js dependencies
node_modules/

# Build output
dist/
build/

# local env files
.env
.env*.local


# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db

# Editor/IDE files
.vscode/
.idea/
*.swp

# Other
coverage/ # If you're using a testing library like Jest
